*, .container-fluid {
  margin: 0;
  outline: none;
  padding: 0;
  box-sizing: border-box; }

#menu.fixed {
  position: fixed;
  top: 0;
  z-index: 999; }

.owl-carousel, .owl-stage-outer, .owl-stage:after, .owl-item.cloned, .owl-carousel .owl-stage, .owl-item.cloned.active,
.owl-item.cloned, .owl-item.active {
  height: inherit !important; }

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-car .odometer-digit {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  height: auto;
  display: inline-block; }

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-car .odometer-digit .odometer-digit-inner {
  left: 0; }

.odometer.odometer-auto-theme, .odometer.odometer-theme-car {
  background: none;
  color: #000;
  border-radius: 0; }

.odometer.odometer-auto-theme, .odometer.odometer-theme-car {
  border-radius: 0;
  padding: 0; }

.odometer.odometer-auto-theme .odometer-digit:last-child, .odometer.odometer-theme-car .odometer-digit:last-child {
  background: none; }

.row {
  margin-left: 0;
  margin-right: 0; }

li {
  list-style: none; }

::-webkit-input-placeholder {
  background: default; }

::selection {
  background: default; }

input:focus:invalid,
textarea:focus:invalid {
  border-color: red; }

input:required:valid,
textarea:required:valid {
  border-color: green; }

.vertical {
  display: table-cell;
  vertical-align: middle;
  height: inherit;
  width: inherit; }

.bar-mobile {
  outline: none;
  cursor: pointer;
  border: none;
  background: none;
  width: 40px;
  float: right;
  position: relative;
  height: 25px;
  display: none; }

.bar-mobile span {
  background-color: #fff;
  display: block;
  height: 5px;
  position: absolute;
  width: 100%; }

.bar-mobile span.top {
  top: 0; }

.bar-mobile span.middle {
  top: 50%;
  margin-top: -2px; }

.bar-mobile span.bottom {
  top: 100%;
  margin-top: -2px; }

.close-bt-hamburguer .middle {
  opacity: 0; }

.close-bt-hamburguer span.top {
  margin: -2px 0 0 -3px;
  top: 50%;
  width: 120%;
  -moz-transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg); }

.close-bt-hamburguer span.bottom {
  margin: -2px 0 0 -3px;
  top: 50%;
  width: 120%;
  -moz-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  -ms-transform: rotate(40deg); }

.bar-mobile span {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path

  At the bottom of this section, we provide information about the spritesheet itself
  $spritesheet: width height image $spritesheet-sprites
  */
/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)

  Example usage in HTML:
    `display: block` sprite:
    <div class="icon-home"></div>

  To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class: */
/*
  The `sprites` mixin generates identical output to the CSS template
    but can be overridden inside of SASS

  @include sprites($spritesheet-sprites)
  */
/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path

  At the bottom of this section, we provide information about the spritesheet itself
  $spritesheet: width height image $spritesheet-sprites
  */
/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)

  Example usage in HTML:
    `display: block` sprite:
    <div class="icon-home"></div>

  To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class: */
/*
  The `sprites` mixin generates identical output to the CSS template
    but can be overridden inside of SASS

  @include sprites($spritesheet-sprites)
  */
body {
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 16px; }

a {
  font-family: Arial, sans-serif;
  color: #757575;
  text-decoration: none;
  font-size: 12px; }
  a:hover {
    text-decoration: underline; }

.content {
  width: 1170px;
  margin: 0 auto; }

.container {
  position: relative;
  min-height: 100%;
  width: 1170px;
  min-width: 320px;
  padding: 0px; }
  @media only screen and (max-width: 1170px) {
    .container {
      width: 100%; } }
  @media only screen and (max-width: 320px) {
    .container {
      padding: 0 20px; } }

.section-title h3.heading {
  color: #263238;
  margin-bottom: 15px;
  margin-top: 0;
  font-family: FiraSansBold, sans-serif; }

.section-title h4.heading {
  color: #000; }

.button {
  background: #be000e;
  color: white;
  text-transform: uppercase;
  padding: 15px 0;
  font-size: 16px;
  font-family: FiraSansBold, sans-serif; }

.button.red {
  background: #be000e; }

.button.main {
  background: #016064; }

header {
  min-width: 320px; }
  header .container {
    padding: 0 15px; }
  header nav.header {
    height: 42px;
    text-align: center;
    background: #016064; }
    header nav.header ul {
      float: right;
      margin-top: 9px; }
      @media only screen and (max-width: 367px) {
        header nav.header ul {
          float: none;
          display: inline-block; } }
      header nav.header ul li {
        list-style: none;
        float: left;
        padding: 0 10px; }
        @media only screen and (max-width: 367px) {
          header nav.header ul li {
            padding: 0 5px; } }
        header nav.header ul li:first-child {
          padding-left: 0; }
        header nav.header ul li:last-child {
          padding-right: 0; }
        header nav.header ul li a {
          text-decoration: none;
          font-size: 13px;
          font-family: Arial;
          color: #e5e5e5; }
          @media only screen and (max-width: 367px) {
            header nav.header ul li a {
              font-size: 12px; } }
          header nav.header ul li a:hover {
            text-decoration: underline; }

menu.main {
  height: 60px;
  padding-top: 18px; }
  menu.main .bar-mobile {
    display: none;
    margin-right: 15px; }
    @media only screen and (max-width: 800px) {
      menu.main .bar-mobile {
        display: block;
        float: right;
        cursor: pointer;
        height: 30px;
        width: 30px;
        background-image: url(sprite.png);
        background-position: -130px 0px;
        width: 29px;
        height: 29px; } }
  menu.main nav.menu-mobile {
    position: absolute;
    z-index: 10;
    top: 60px;
    width: 100%;
    display: none;
    clear: both;
    padding: 0 23px 0;
    text-align: center;
    background: #fff !important; }
    @media only screen and (min-width: 800px) {
      menu.main nav.menu-mobile {
        display: none !important; } }
    menu.main nav.menu-mobile a {
      text-transform: capitalize;
      font-family: FiraSansBold, sans-serif;
      color: #000;
      font-size: 14px;
      display: block;
      padding: 6px 0;
      transition: .3s ease color;
      text-decoration: none; }
      menu.main nav.menu-mobile a:hover {
        color: #be000e; }
  menu.main .logo {
    position: relative;
    bottom: 4px;
    float: left;
    margin-left: 15px;
    text-transform: uppercase;
    font-size: 24px !important;
    font-family: FiraSans, sans-serif;
    color: #000;
    text-decoration: none;
    display: inline-block; }
    menu.main .logo sup {
      font-size: 24px; }
    @media only screen and (max-width: 320px) {
      menu.main .logo {
        font-size: 20px; } }
    menu.main .logo img {
      margin-right: 8px;
      position: relative;
      bottom: 5px; }
    menu.main .logo strong {
      font-family: FiraSansBold, sans-serif; }
  menu.main nav.main {
    float: right;
    padding-right: 15px; }
    @media only screen and (max-width: 800px) {
      menu.main nav.main {
        display: none; } }
    @media only screen and (max-width: 1100px) {
      menu.main nav.main {
        height: 42px; } }
    menu.main nav.main ul li {
      float: left;
      padding: 0 15px; }
      @media only screen and (max-width: 1100px) {
        menu.main nav.main ul li {
          padding: 0 7px; } }
      menu.main nav.main ul li:hover .submenu {
        color: red; }
      menu.main nav.main ul li:first-child {
        padding-left: 0; }
      menu.main nav.main ul li:last-child {
        padding-right: 0; }
      menu.main nav.main ul li a {
        position: relative;
        text-transform: capitalize;
        color: #000;
        text-decoration: none;
        transition: .3s color ease;
        font-size: 16px;
        font-family: FiraSansBold, sans-serif;
        display: inline-block;
        height: 44px; }
        @media only screen and (max-width: 1100px) {
          menu.main nav.main ul li a {
            height: 42px !important;
            font-size: 14px; } }
    menu.main nav.main ul li.active a {
      color: #be000e;
      border-bottom: 2px solid #be000e; }

.submenu {
  width: 100%;
  padding: 28px 0;
  background: #f5f5f5;
  overflow: auto;
  position: absolute;
  top: 102px;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: .3s ease all; }
  @media only screen and (max-width: 800px) {
    .submenu {
      display: none !important; } }
  .submenu .align-c {
    display: block;
    width: 650px !important;
    margin: 0 auto !important; }
  .submenu h4.heading {
    margin-bottom: 10px;
    display: block;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #000;
    font-family: FiraSansBold, sans-serif; }
  .submenu .category {
    float: left;
    width: 200px; }
    .submenu .category:nth-child(2) {
      width: 250px; }
    .submenu .category a {
      color: #000;
      font-family: Arial, sans-serif;
      font-size: 1.4rem;
      text-transform: capitalize;
      padding: 3px 0;
      display: block; }

/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path

  At the bottom of this section, we provide information about the spritesheet itself
  $spritesheet: width height image $spritesheet-sprites
  */
/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)

  Example usage in HTML:
    `display: block` sprite:
    <div class="icon-home"></div>

  To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class: */
/*
  The `sprites` mixin generates identical output to the CSS template
    but can be overridden inside of SASS

  @include sprites($spritesheet-sprites)
  */
.main-slide {
  display: block;
  clear: both;
  padding: 55px 0;
  background: url("../img/header-bg.jpg") no-repeat;
  min-width: 320px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%; }
  .main-slide .form-wrap {
    padding: 0 15px; }
  .main-slide .media {
    color: white; }
    @media only screen and (max-width: 992px) {
      .main-slide .media {
        max-width: 530px;
        width: 100%;
        margin: 0 auto;
        text-align: center; } }
    .main-slide .media .section-title h3.heading {
      font-size: 6rem;
      color: #fff;
      text-transform: capitalize;
      margin-bottom: 0; }
    .main-slide .media .section-title p.excerpt {
      font-size: 2.6rem;
      font-family: FiraSans, sans-serif; }
    .main-slide .media .media-body .excerpt {
      font-size: 12px;
      padding: 18px;
      background: rgba(229, 229, 229, 0.2); }
    .main-slide .media .media-body ul {
      width: 100%;
      overflow: auto;
      padding-top: 20px;
      padding-bottom: 20px; }
      .main-slide .media .media-body ul li {
        padding: 5px 0;
        width: 50%;
        float: left;
        font-family: FiraSans, sans-serif;
        font-size: 16px;
        text-align: left; }
        @media only screen and (max-width: 480px) {
          .main-slide .media .media-body ul li {
            width: 100%; } }
        .main-slide .media .media-body ul li img {
          margin-right: 8px; }
  .main-slide .icon {
    display: inline-block;
    margin-right: 10px;
    margin-top: 30px; }
    @media only screen and (max-width: 992px) {
      .main-slide .icon {
        display: none !important; } }
  .main-slide .icon-comodo {
    height: 67;
    width: 67;
    padding: 10px;
    background: #141414;
    position: relative;
    box-sizing: content-box;
    display: inline-block;
    width: 67px;
    height: 43px;
    padding: 0;
    background: transparent; }
    .main-slide .icon-comodo::after {
      content: "";
      position: absolute;
      left: 50%;
      margin-left: -33.5;
      top: 50%;
      margin-top: -33.5; }
    .main-slide .icon-comodo::after {
      left: 0;
      top: 0;
      background: transperent;
      background-image: url(sprite.png);
      background-position: 0px 0px;
      width: 67px;
      height: 43px; }
  .main-slide .icon-fisca {
    height: 67;
    width: 67;
    padding: 10px;
    background: #141414;
    position: relative;
    box-sizing: content-box;
    display: inline-block;
    width: 53px;
    height: 28px;
    padding: 0;
    background: transparent; }
    .main-slide .icon-fisca::after {
      content: "";
      position: absolute;
      left: 50%;
      margin-left: -33.5;
      top: 50%;
      margin-top: -33.5; }
    .main-slide .icon-fisca::after {
      left: 0;
      top: 0;
      background: transperent;
      background-image: url(sprite.png);
      background-position: -53px -53px;
      width: 53px;
      height: 28px; }
  .main-slide .icon-csfa {
    height: 67;
    width: 67;
    padding: 10px;
    background: #141414;
    position: relative;
    box-sizing: content-box;
    display: inline-block;
    width: 53px;
    height: 28px;
    padding: 0;
    bottom: 12px;
    background: transparent; }
    .main-slide .icon-csfa::after {
      content: "";
      position: absolute;
      left: 50%;
      margin-left: -33.5;
      top: 50%;
      margin-top: -33.5; }
    .main-slide .icon-csfa::after {
      left: 0;
      top: 0;
      background: transperent;
      background-image: url(sprite.png);
      background-position: -77px 0px;
      width: 43px;
      height: 43px; }
  .main-slide .icon-ola {
    height: 67;
    width: 67;
    padding: 10px;
    background: #141414;
    position: relative;
    box-sizing: content-box;
    display: inline-block;
    width: 53px;
    height: 28px;
    padding: 0;
    bottom: 12px;
    background: transparent; }
    .main-slide .icon-ola::after {
      content: "";
      position: absolute;
      left: 50%;
      margin-left: -33.5;
      top: 50%;
      margin-top: -33.5; }
    .main-slide .icon-ola::after {
      left: 0;
      top: 0;
      background: transperent;
      background-image: url(sprite.png);
      background-position: 0px -53px;
      width: 43px;
      height: 43px; }
  .main-slide .center-align {
    text-align: center;
    display: none; }
    @media only screen and (max-width: 992px) {
      .main-slide .center-align {
        display: block; } }
  .main-slide .icon-wrapper {
    display: inline-block;
    padding-top: 20px;
    margin: 0 auto; }
  .main-slide form {
    background: url("../img/dollar.jpg") no-repeat;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    width: 460px;
    padding: 36px 40px;
    float: right; }
    .main-slide form ::-webkit-input-placeholder {
      color: #000;
      font-size: 1.6rem; }
    @media only screen and (max-width: 992px) {
      .main-slide form {
        margin-right: 15px; } }
    @media only screen and (max-width: 480px) {
      .main-slide form {
        padding: 20px; } }
    @media only screen and (max-width: 992px) {
      .main-slide form {
        float: none;
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        margin-top: 40px; } }
    .main-slide form h4.heading {
      color: #263238;
      font-size: 3rem;
      font-family: FiraSansBold, sans-serif;
      margin-bottom: 25px; }
    .main-slide form select, .main-slide form input {
      width: 100%;
      padding: 12px 15px;
      background: #fff;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      font-size: 1.6rem;
      border: none; }
    .main-slide form select {
      margin-bottom: 10px;
      padding-right: 25px;
      -webkit-appearance: none; }
    .main-slide form .select-wrap {
      position: relative;
      padding: 0; }
      .main-slide form .select-wrap::after {
        content: "";
        display: block;
        position: absolute;
        width: 13px;
        height: 8px;
        top: 20px;
        right: 15px;
        background-image: url(sprite.png);
        background-position: -130px -39px;
        width: 13px;
        height: 8px; }
    .main-slide form input {
      margin-bottom: 20px; }
    .main-slide form button {
      width: 100%;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      outline: none;
      border: none;
      margin-bottom: 10px;
      position: relative; }
      .main-slide form button:active {
        top: 1px; }

p.info {
  font-size: 1.2rem;
  color: #000; }

section.questions {
  clear: both;
  padding-top: 55px; }
  section.questions ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: block; }
  section.questions ul.tabs li {
    background: #eeeeee;
    color: #000;
    display: inline-block;
    padding: 10px 0;
    font-size: 1.4rem;
    font-family: FiraSans, sans-serif;
    width: 24%;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px; }
    @media only screen and (max-width: 880px) {
      section.questions ul.tabs li {
        width: 49%; } }
    section.questions ul.tabs li .hr {
      margin: 0;
      border-top: 1px solid #000; }
  section.questions ul.tabs li.current {
    background: #016064;
    color: #fff; }
  section.questions .tab-content {
    margin-top: 15px;
    display: none;
    background: #fff; }
  section.questions .tab-content.current {
    display: inherit; }

h1, h2, h3, h4, h5, h6 {
  font-family: FiraSansBold, sans-serif;
  color: #263238; }

h2 {
  font-size: 3.2rem; }

h3 {
  font-size: 2.8rem; }

h4 {
  font-size: 2.4rem; }

h5 {
  font-size: 2rem; }

h6 {
  font-size: 1.6rem; }

table th {
  padding: 20px;
  border: 1px solid #eee;
  background: #eee;
  font-family: FiraSansBold, sans-serif;
  font-size: 1.5rem;
  border-right: 1px solid #fff; }
  table th:last-child {
    border-right: 1px solid #eee; }

table td {
  padding: 15px 20px;
  border: 1px solid #eee; }

section.content-long article {
  padding-left: 30px;
  float: right; }
  @media only screen and (max-width: 768px) {
    section.content-long article {
      padding-left: 15px; } }
  section.content-long article img {
    float: right;
    margin: 30px; }
    @media only screen and (max-width: 480px) {
      section.content-long article img {
        float: none;
        display: block;
        margin: 0 auto;
        margin-bottom: 15px;
        margin-top: 20px; } }
  section.content-long article .process {
    margin-bottom: 35px; }
    section.content-long article .process h3.heading {
      margin-top: 60px; }
  section.content-long article h3.heading {
    text-transform: capitalize;
    color: #263238;
    font-size: 3.2rem;
    margin-bottom: 15px;
    margin-top: 0; }
  section.content-long article .getloan .video-content {
    float: left;
    margin: 25px;
    margin-left: 0;
    margin-bottom: 0;
    width: 55%;
    margin-top: 0; }
    @media only screen and (max-width: 992px) {
      section.content-long article .getloan .video-content {
        width: 100%;
        margin-bottom: 35px; } }
    section.content-long article .getloan .video-content iframe {
      width: 100%; }
  section.content-long article .getloan i {
    font-size: 14px;
    display: block;
    margin-bottom: 14px;
    margin-top: 14px; }
  section.content-long article .getloan p.info {
    float: left;
    padding: 0;
    width: 66%;
    padding-right: 10px; }
    @media only screen and (max-width: 380px) {
      section.content-long article .getloan p.info {
        width: 100%; } }
  section.content-long article .getloan a.button {
    width: 34%;
    float: right;
    text-align: center; }
    @media only screen and (max-width: 380px) {
      section.content-long article .getloan a.button {
        width: 100%; } }
    section.content-long article .getloan a.button:hover {
      text-decoration: none;
      color: white;
      cursor: pointer; }
  section.content-long article .getloan .text {
    float: right; }
  section.content-long article .getloan h3.heading {
    font-size: 2.8rem; }

section.table-header {
  margin-top: 40px; }
  section.table-header .table-example {
    padding-left: 0; }
  section.table-header h1, section.table-header h2, section.table-header h3, section.table-header h4, section.table-header h5, section.table-header h6 {
    display: inline-block;
    width: 15.5%;
    padding: 0; }
  section.table-header .headers-h {
    position: relative;
    right: 15px; }
  section.table-header table {
    width: 100%; }
  section.table-header li {
    list-style: disc !important; }
  section.table-header aside {
    float: left; }
    @media only screen and (max-width: 768px) {
      section.table-header aside {
        clear: both; } }
