extends jade/template
include jade/mixins
block title
  title Page 
block content
  include jade/layouts/header
  include jade/layouts/main-slide
  .row
    .container
      section.content-long
        article.col-sm-9
          .process
            .section-title
              h3.heading our loan process
            .media-body
              img(src="../img/information.png", alt="information")
              p A payday loan is a small dollar short-term advance used as an option to help a person with small, often unexpected expenses. Pay day Loans are short-term in nature and not intended to be used long-term or for larger purchases like a home or a car. They are a safe and convenient way to allow a customer to stretch their buying power and help cover small, unplanned expenses. Whether you’re suffering from seasonal expenses like holiday bills and back to school costs or you need help with unexpected bills, or repairs, Check Into Cash can help. Payday loan is a small dollar short-term dvance used as an option to help a person with small, often unexpected expenses. Pay day Loans are short-term in nature and not intended to be used long-term or for larger purchases like  
              p A payday loan is a small dollar short-term advance used as an option to help a person with small, often unexpected expenses. Pay day Loans are short-term in nature and not intended to be used long-term or for larger purchases like a home or a car. They are a safe and convenient way to allow a customer to stretch their buying power and help cover small, unplanned expenses. Whether you’re suffering from seasonal expenses like holiday bills and back to school costs or you need help with unexpected bills, or repairs, Check Into Cash can help. Payday loan is a small dollar short-term advance used as an option to help a person with small, often unexpected expenses. Pay day Loans are short-term in nature and not intended to be used long-term or for larger purchases like a home or a car. They are a safe and convenient way to allow a customer to stretch their buying power and help cover small, unplanned
          .getloan
            .text
              .video-content
                <iframe width="560" height="315" src="https://www.youtube.com/embed/zIwLWfaAg-8" frameborder="0" allowfullscreen></iframe>
                i At Check Into Cash, we have made it easy and fast to get the cash you need, when you need it. Whether you are borrowing online or at one of more than 1,000 retail locations near you, we offer a hassle free
                p.info By providing your information, you certify that you have read & agree to our<a href="#">Privacy Policy, Terms of Website Use.</a>See <a href="#">Rates & Fees.</a> Questions? <a href="#">FAQ </a>or <a href="#">Contact Us</a>
                a.button.red apply now
              h3.heading Where can I get a fast cash loan?
              p A payday loan is a small dollar short-term advance used as an option to help a person with small, often unexpected expenses. Pay day Loans are short-term in nature and not intended to be used long-term or for larger purchases like a home or a car. They are a safe and convenient way to allow a customer to stretch their buying power and help cover small, unplanned expenses. Whether you’re suffering from seasonal expenses like holiday bills and back to school costs or you need help with unexpected bills, or repairs, Check Cash can help. Payday loan is a small dollar short-term advance used as an option to help a person with small, often unexpected expenses. 
              p A payday loan is a small dollar short-term advance used as an option to help a person with  small, often unexpected expenses. Pay day Loans are short-term in nature and not intended to be used long-term or for larger purchases like a home or a car. They are a safe and convenient way to allow a customer to stretch their buying power and help cover small, unplanned expenses. Whether you’re suffering from seasonal expenses like holiday bills and back to school 
          include jade/layouts/tabs
          section.table-header
            .row
              .col-sm-6
                .headers-h
                  h1 H1
                  h2 H2
                  h3 H3
                  h4 H4
                  h5 H5
                  h6 H6
                ul
                  li lorem
                  li lorem
                  li 123
                  li 123
              .col-sm-6.table-example
                table
                  tr
                    th Table header
                    th table header
                  tr
                    td Table content
                    td Table content
                  tr
                    td Table content
                    td Table content


        aside.col-sm-3
          p  content





















block vendor
  include jade/scripts-home
