
<header>
  <nav class="header">
    <div class="container">
      <ul>
        <li><a href="">About us</a></li>
        <li><a href="">Contacts</a></li>
        <li><a href="">How it works</a></li>
        <li><a href="">Rates and fees</a></li>
      </ul>
    </div>
  </nav>
</header>
<div class="container">
  <menu class="main"><a href="/" class="logo"><img src="img/logo.png" alt="BadCreditLoans"/><span><sup><strong>badcredit</strong>loans</sup></span></a>
    <div class="bar-mobile"></div>
    <nav class="main">
      <ul>
        <li class="active"><a href="" class="prima-tc">payday loans</a></li>
        <li><a href="" class="prima-tc">installment loans</a></li>
        <li><a href="" class="prima-tc">personal loans</a></li>
        <li class="prima-li"><a href="" class="prima-tc">short-term loans</a></li>
      </ul>
    </nav>
    <nav class="menu-mobile">
      <ul>
        <li class="active"><a href="">payday loans</a></li>
        <li><a href="">installment loans</a></li>
        <li><a href="">personal loans</a></li>
        <li><a href="">short-term loans</a></li>
      </ul>
    </nav>
  </menu>
</div>
<div class="submenu">
  <div class="align-c">
    <div class="category">
      <h4 class="heading">apply now</h4>
      <ul>
        <li><a href="">personal loans</a></li>
        <li><a href="">bad credit loans</a></li>
        <li><a href="">auto loans</a></li>
        <li><a href="">home loans</a></li>
        <li><a href="">student loans</a></li>
      </ul>
    </div>
    <div class="category">
      <h4 class="heading">learn more</h4>
      <ul>
        <li><a href="">guide to personal loans</a></li>
        <li><a href="">guide to bad credit loans</a></li>
        <li><a href="">guide to var buying</a></li>
      </ul>
    </div>
    <div class="category">
      <h4 class="heading">tools</h4>
      <ul>
        <li><a href="">personal loan calculator</a></li>
        <li><a href="">auto loan calculator</a></li>
        <li><a href="">student loan calculator</a></li>
      </ul>
    </div>
  </div>
</div>