header
    nav.header
      .container
        ul
            li
              a(href="") About us
            li
              a(href="") Contacts
            li
              a(href="") How it works
            li
              a(href="") Rates and fees
  .container
      menu.main
          a.logo(href="/")
              img(src="img/logo.png", alt="BadCreditLoans")
              span
                sup<strong>badcredit</strong>loans
            .bar-mobile
          nav.main
            ul
              li.active
                a.prima-tc(href="") payday loans
              li
                a.prima-tc(href="") installment loans
              li
                a.prima-tc(href="") personal loans
              li.prima-li
                a.prima-tc(href="") short-term loans
          nav.menu-mobile
            ul
              li.active
                a(href="") payday loans
              li
                a(href="") installment loans
              li
                a(href="") personal loans
              li
                a(href="") short-term loans
  .submenu
    .align-c
      .category
        h4.heading apply now
        ul
          li
            a(href="") personal loans
          li
            a(href="") bad credit loans
          li
            a(href="") auto loans
          li
            a(href="") home loans
          li
            a(href="") student loans
      .category
        h4.heading learn more
        ul
          li
            a(href="") guide to personal loans
          li
            a(href="") guide to bad credit loans
          li
            a(href="") guide to var buying
      .category
        h4.heading tools
        ul
          li
            a(href="") personal loan calculator
          li
            a(href="") auto loan calculator
          li
            a(href="") student loan calculator