
<div class="main-slide">
  <div class="container">
    <div class="row">
      <div class="media col-md-6">
        <div class="section-title">
          <h3 class="heading">funds in minutes</h3>
          <p class="excerpt">Helping people to get better loans</p>
        </div>
        <div class="media-body">
          <ul class="advantages">
            <li> <img src="../img/check.png" alt="check"/><span>Get Approved in Minutes</span></li>
            <li> <img src="../img/check.png" alt="check"/><span>Get Money in Stories immediately</span></li>
            <li> <img src="../img/check.png" alt="check"/><span>Quick, Easy & Confidential</span></li>
            <li><img src="../img/check.png" alt="check"/><span>Get Approved in minutes</span></li>
          </ul>
          <div class="excerpt">A payday loan is a small dollar short-term advance used as an option to help a person with small, often unexpected expenses. Pay day Loans are short-term in nature and not intended to be used long-term or for larger purchases like a home or a car. They are a safe and convenient way to allow a customer to stretch</div>
          <div class="icon icon-comodo"></div>
          <div class="icon icon-fisca"></div>
          <div class="icon icon-csfa"></div>
          <div class="icon icon-ola"></div>
        </div>
      </div>
      <div class="form-wrap">
        <form class="col-md-6">
          <h4 class="heading">Apply Now for a Loan</h4>
          <div class="select-wrap">
            <select name="apply"><option value="Select">Select One</option></select>
          </div>
          <input type="text" placeholder="Email"/>
          <button class="button red">Apply Now</button>
          <p class="info">By providing your information, you certify that you have read & agree to our<a href="#">Privacy Policy, Terms of Website Use.</a>See <a href="#">Rates & Fees.</a> Questions? <a href="#">FAQ </a>or <a href="#">Contact Us</a></p>
        </form>
        <div class="center-align">
          <div class="icon-wrapper">
            <div class="icon2 icon-comodo"></div>
            <div class="icon2 icon-fisca"></div>
            <div class="icon2 icon-csfa"></div>
            <div class="icon2 icon-ola"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>